body{
    font-family: 'Oswald', sans-serif;
}

.titulo, .descripcion{
    text-align: center;
    color: solid black;
}
.texto div{
    margin: 10px;
    display: flex;
   justify-content: center;
   align-items: baseline;
  
   
  
}

